<!DOCTYPE html>
<html>
  <head>
    <title><%= routename %></title>
    <link rel='stylesheet' href='/style.css' />
  </head>
  <body>
    <h1><%= username %>'s <%= routename %></h1>

		<a href='/'>Return To Home</a>
		<pre>
			<%= data %>
		</pre>
  </body>
</html>
